
      <header class="container">
        <nav>
          <ul class="nav">
            <li><%= link_to 'Browse The Texts', "/#books" %></li>
            <li><%= link_to 'About', :about %></li>

          </ul>
        </nav>
      </header>
        <div class="container">
          <section>
            <div class="row">
              <h2 class="standfirst">About &mdash; text copying &amp; reuse in 19th century sexual health books</h2>
            </div>
          </section>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="text-block">
        <p>This website is a product of <a href="http://blog.wellcomelibrary.org/2016/11/meet-the-digital-data-dabblers/">Wellcome Data Week</a>, an initiative that brought five small teams of developers, historians, and Wellcome Library staff together to explore and experiment with the Library’s amazing digital collections. Our group chose to work with the newly launched <a href="https://wellcomelibrary.org/collections/digital-collections/uk-medical-heritage-library/">UK Medical Heritage Library</a>, a free collection of digitized 19th century medical works sourced from ten different institutions.</p>

        <p>We are interested in how, with the right software, a large archive of digitized texts like the UK Medical Heritage Library can help scholars more rigorously examine how medical writing has been reused, recycled, and reinvented over time and space, through the production of different editions of the same work, and through the practices of plagiarism, quotation, and compilation.</p>

        <p>Inspired by patterns Sarah has been noticing in her research on Victorian works about sexual health, as well as recent projects that have used digitized newspaper databases to trace how news stories and jokes spread across the globe, we decided to create a text-comparison tool that would locate ‘matches’ between different texts in the UK Medical Heritage Library and other large archives of digitized historical texts.</p>


        <p>This site represents what we managed to put together in a week: a tool through which book-length texts can be uploaded and compared. If we are given more time and money to develop this further in the future, we plan to improve the tool’s matching capabilities and make the interface more elegant and intuitive. We would also love to upload a much larger corpus to the tool and play around with that, and/or figure out whether (and if so, how) we could integrate it into an existing platform for viewing the Medical Heritage Library, so it would be easier for everyone to use.</p>

        <h2>Team</h2>

        <p>Sarah Bull is a <a href="http://www.people.hps.cam.ac.uk/index/fellows-associates/bull">Wellcome Trust Research Fellow</a> in the Department of History and Philosophy of Science at the University of Cambridge. She is working on a book about Victorian commerce in works on sexual health.</p>

        <p>Dan Williams is half of <a href="http://buckleywilliams.com/">Buckley Williams</a>, a design studio specialising in prototyping, research &amp; development, and communication design.</p>
      </div>
    </div>
